<!DOCTYPE html>
<html>
<head>
	<title>Winners</title>

	<style type="text/css">

		label {
			  margin: 0 0 20px 0;
			  font-weight: 100;
			  font-size: 25px;
			  color: #211f1d;
			}

	</style>

</head>
<body>

<label>First prize winner name : {{first_prize_winner_name}}</label><br>
<label>First prize winner phone number : {{first_prize_winner_phone_number}} </label>

<br><br>

<label>Second prize winner name : {{second_prize_winner_name}} </label><br>
<label>Second prize winner phone number : {{second_prize_winner_phone_number}} </label> 

<br><br>


<label>Third prize winner name : {{third_prize_winner_name}} </label><br> 
<label>Third prize winner phone number : {{third_prize_winner_phone_number}} </label> 

</body>
</html>


